# Local Domain, this will be the root
dn: dc={{hostname}}.local
dc: {{hostname}}.local
objectClass: domain
objectClass: top
structuralObjectClass: domain

# {{daemons}}
dn: ou={{daemons}},dc={{hostname}}.local
objectClass: organizationalUnit
objectClass: top
structuralObjectClass: organizationalUnit
ou: {{daemons}}

# Grupo de usuarios
dn: ou={{inhabitants}},dc={{hostname}}.local
objectClass: organizationalUnit
objectClass: top
structuralObjectClass: organizationalUnit
ou: {{inhabitants}}

# Servicio postfix
dn: uid=postfix,ou={{daemons}},dc={{hostname}}.local
objectClass: account
objectClass: simpleSecurityObject
objectClass: top
userPassword:: {{postfix_password}}
uid: postfix
structuralObjectClass: account

# Dovecot - imap, pop, auth frontend
dn: uid=dovecot,ou={{daemons}},dc={{hostname}}.local
objectClass: account
objectClass: simpleSecurityObject
objectClass: top
uid: dovecot
structuralObjectClass: account
userPassword:: {{dovecot_password}}

# SASL - auth backend
dn: uid=sasl,ou={{daemons}},dc={{hostname}}.local
objectClass: account
objectClass: simpleSecurityObject
objectClass: top
userPassword:: {{sasl_password}}
uid: sasl
structuralObjectClass: account

# Groups
dn: ou={{groups}},dc={{hostname}}.local
objectClass: organizationalUnit
objectClass: top
ou: {{groups}}
structuralObjectClass: organizationalUnit

# Meta group to retrieve all accounts - useful for common address book
# and jabber shared roster
dn: cn={{inhabitants}},ou={{groups}},dc={{hostname}}.local
cn: {{inhabitants}}
objectClass: groupOfURLs
objectClass: top
structuralObjectClass: groupOfURLs
description: {{inhabitants}}
memberURL: ldap:///ou={{inhabitants}},dc={{hostname}}.local?cn,uid,mail?sub?(&(objectClass=Cou
 rierMailAccount)(mail=*@{{domain}}))

# Admins
dn: ou={{admins}},dc={{hostname}}.local
objectClass: organizationalUnit
objectClass: top
ou: {{admins}}
structuralObjectClass: organizationalUnit

# Admin account
dn: uid={{admin}},ou={{admins}},dc={{hostname}}.local
objectClass: account
objectClass: simpleSecurityObject
objectClass: top
uid: {{admin}}
structuralObjectClass: account
userPassword:: {{admin_password}}

# Account
dn: mail={{user}}@{{domain}},ou={{inhabitants}},dc={{hostname}}.local
givenName: {{name}}
sn: {{last_name}}
cn: {{name}} {{last_name}}
mail: {{user}}@{{domain}}
uid: {{user}}
userPassword:: {{user_password}}
uidNumber: 1001
gidNumber: 100
homeDirectory: {{mail}}/{{domain}}/{{user}}/
objectClass: inetOrgPerson
objectClass: CourierMailAccount
objectClass: top

# Email forward
dn: cn={{user}},ou={{inhabitants}},dc={{hostname}}.local
cn: {{user}}
sn: {{user}}
mail: {{user}}@{{domain}}
maildrop: {{redirect_to}}
objectClass: inetOrgPerson
objectClass: CourierMailAlias
objectClass: top
structuralObjectClass: inetOrgPerson
