#
# See slapd.conf(5) for details on configuration options.
# This file should NOT be world readable.
#
include		/etc/openldap/schema/core.schema
include		/etc/openldap/schema/cosine.schema
include		/etc/openldap/schema/inetorgperson.schema
include		/etc/openldap/schema/nis.schema
include   /etc/openldap/schema/authldap.schema
include   /etc/openldap/schema/dyngroup.schema

loglevel  BER stats shell parse

modulepath /usr/lib/openldap
moduleload dynlist
overlay                 dynlist
dynlist-attrset         groupOfURLs memberURL
# Define global ACLs to disable default read access.

# Do not enable referrals until AFTER you have a working directory
# service AND an understanding of referrals.
#referral	ldap://root.openldap.org

pidfile		/run/openldap/slapd.pid
argsfile	/run/openldap/slapd.args

# Load dynamic backend modules:
# modulepath	/usr/lib/openldap
# moduleload	back_bdb.la
# moduleload	back_hdb.la
# moduleload	back_ldap.la

# Sample security restrictions
#	Require integrity protection (prevent hijacking)
#	Require 112-bit (3DES or better) encryption for updates
#	Require 63-bit encryption for simple bind
# security ssf=1 update_ssf=112 simple_bind=64

# Sample access control policy:
#	Root DSE: allow anyone to read it
#	Subschema (sub)entry DSE: allow anyone to read it
#	Other DSEs:
#		Allow self write access
#		Allow authenticated users read access
#		Allow anonymous users to authenticate
#	Directives needed to implement policy:
# access to dn.base="" by * read
# access to dn.base="cn=Subschema" by * read
# access to *
#	by self write
#	by users read
#	by anonymous auth
#
# if no access controls are present, the default policy
# allows anyone and everyone to read anything but restricts
# updates to #rootdn.  (e.g., "access to * by * read")
#
# rootdn can always read and write EVERYTHING!

#######################################################################
# BDB database definitions
#######################################################################

#database	bdb
#suffix		"dc=my-domain,dc=com"
#rootdn		"cn=Manager,dc=my-domain,dc=com"
# Cleartext passwords, especially for the rootdn, should
# be avoid.  See slappasswd(8) and slapd.conf(5) for details.
# Use of strong authentication encouraged.
rootpw		{{slapd_password}}
# The database directory MUST exist prior to running slapd AND
# should only be accessible by the slapd and slap tools.
# Mode 700 recommended.
#directory	/var/lib/openldap/openldap-data
# Indices to maintain
#index	objectClass	eq

#index o eq

##### FUN STARTS HERE #####
database	bdb
suffix		"dc={{hostname}}.local"
#checkpoint	32	30 # <kbyte> <min>

directory	/var/lib/openldap/openldap-data
index	objectClass	eq
index	mail,cn,uid		eq,sub
index o           eq

TLSCipherSuite ALL:!ADH:RC4+RSA:+HIGH:+MEDIUM:+LOW:+SSLv3:+EXP
TLSCACertificateFile /etc/openldap/ssl/ldap.pem
TLSCertificateFile /etc/ssl/certs/{{domain}}.crt
TLSCertificateKeyFile /etc/ssl/private/{{domain}}.key

#########################################
#ACCESS SPECIFICATIONS
#########################################

# {{inhabitants}}' attributes which can be seen by the rest of the {{inhabitants}}
access to attrs=cn,mail
  by anonymous auth
  by dn.subtree="ou={{inhabitants}},dc={{hostname}}.local" read
  by dn.exact="uid=postfix,ou={{daemons}},dc={{hostname}}.local" read
  by dn.exact="uid=dovecot,ou={{daemons}},dc={{hostname}}.local" read
  by dn.exact="uid=sasl,ou={{daemons}},dc={{hostname}}.local" read
  by dn.subtree="ou={{admins}},dc={{hostname}}.local" write
  by * none

# {{inhabitants}}' attributes which can be seen by self, {{daemons}} and {{admins}} 
access to attrs=userPassword,givenName,sn,cn
  by anonymous auth
  by dn.exact="uid=postfix,ou={{daemons}},dc={{hostname}}.local" read
  by dn.exact="uid=dovecot,ou={{daemons}},dc={{hostname}}.local" read
  by dn.exact="uid=sasl,ou={{daemons}},dc={{hostname}}.local" read
  by dn.subtree="ou={{admins}},dc={{hostname}}.local" write
  by self write
  by * none
  break

# {{inhabitants}}' attributes which can only be seen by {{daemons}} and {{admins}}
access to attrs=HomeDirectory,uid,sn,uidNumber,ou
  by anonymous auth
  by dn.exact="uid=postfix,ou={{daemons}},dc={{hostname}}.local" read
  by dn.exact="uid=dovecot,ou={{daemons}},dc={{hostname}}.local" read
  by dn.exact="uid=sasl,ou={{daemons}},dc={{hostname}}.local" read
  by dn.subtree="ou={{admins}},dc={{hostname}}.local" write
  by self write
  by * none
  break

# {{inhabitants}}' subtree
# {{daemons}} only read
access to dn.subtree="ou={{inhabitants}},dc={{hostname}}.local"
  by anonymous auth
  by dn.exact="uid=postfix,ou={{daemons}},dc={{hostname}}.local" read
  by dn.exact="uid=dovecot,ou={{daemons}},dc={{hostname}}.local" read
  by dn.exact="uid=sasl,ou={{daemons}},dc={{hostname}}.local" read
  by dn.subtree="ou={{admins}},dc={{hostname}}.local" write

# Admins write
access to dn.subtree="ou={{admins}},dc={{hostname}}.local"
  by anonymous auth
  by dn.subtree="ou={{admins}},dc={{hostname}}.local" write

# Groups
access to dn.subtree="ou={{groups}},dc={{hostname}}.local"
  by anonymous auth
  by dn.subtree="ou={{admins}},dc={{hostname}}.local" write
  by dn.subtree="ou={{inhabitants}},dc={{hostname}}.local" read
  by dn.exact="uid=dovecot,ou={{daemons}},dc={{hostname}}.local" read
  by dn.exact="uid=sasl,ou={{daemons}},dc={{hostname}}.local" read

# Rest
access to *
  by anonymous auth
  by dn.subtree="ou={{admins}},dc={{hostname}}.local" write
  by dn.exact="uid=sasl,ou={{daemons}},dc={{hostname}}.local" read




##### FUN ENDS HERE #####
